* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Tahoma, sans-serif;
}

@mixin control {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(21, 24, 26, 0.781);
}

.control-buttons {
  @include control();

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336;
    color: #ffffff;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
  }
}
.control-statistics {
  @include control();
  background-color: rgba(21, 24, 26, 0.945);


  .control-statistics-st {
    width: 1080px;
    margin: 145px auto 0;
    padding: 20px;
    overflow: hidden;

    .statistics-name {
      float: left;
      font-size: 30px;
      color: #ffffff;
      width: 25%;
    }
    .statistics-timer {
      float: left;
      width: 50%;
      text-align: center;
      font-size: 30px;
      color: #ffffff;
    }
    .statistics-tries {
      float: right;
      width: 25%;
      color: #ffffff;
      font-size: 30px;
    }

    span {
      font-size: 28px;
      color: #2196f3;
    }
  }
  span {
    position: inherit;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #f44336;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.control-buttons-over {
  @include control();

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #d40303;
    padding: 15px 25px;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
  }
}
.info-container {
  width: 1080px;
  margin: 20px auto 0;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid #2196f3;

  .name {
    float: left;
    width: 25%;
  }
  .tries {
    float: right;
    width: 25%;
    text-align: right;
  }
  .timer {
    float: left;
    text-align: center;
    width: 50%;
  }
}
.memory-game-blocks {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: 20px auto;

  .no-clicking {
    pointer-events: none;
  }
  .game-block {
    height: 200px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 200px;
    margin: 0 10px 20px;

    .front {
      background-color: #3333;
      line-height: 200px;

      &::before {
        content: "!";
        color: #ffffff;
        font-size: 140px;
        font-weight: bold;
      }
    }
    .back {
      background-image: linear-gradient(to right, #4b71db 20%, #303d3d 100%);
      transform: rotateY(180deg);

      i {
        font-size: 45px;
        margin-top: 30px;
        padding: 30px;
        width: 140px;
        height: 140px;
        align-items: center;
        text-align: center;
      }
    }
    .face {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      backface-visibility: hidden;
      border: 5px solid #2196f3;
    }
  }
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
  transform: rotateY(180deg);
  pointer-events: none;
}
.memory-game-blocks.no-clicking {
  pointer-events: none;
}
